secretGenerator:
- name: lumen-server
  literals:
  - libraryId=00000000-0000-0000-0000-000000000000
  - serverUrl=https://myseafile.example.tld
  - username=username@example.tld
  - password=PASSWORDHERE