secretGenerator:
- name: lumen-server
  literals:
  - apiKey=APIKEY
  - libraryId=00000000-0000-0000-0000-000000000000
  - serverUrl=https://myseafile.example.tld
  - username=username@example.tld
  - password=PASSWORDHERE
  - goodreads_RSSURL="https://www.goodreads.com/user/updates_rss/ID?key=KEY"
  - youtube_PlaylistId=PLAYLISTID
  - youtube_APIKey=APIKEY