[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no
[ req_distinguished_name ]
countryName                = FR
stateOrProvinceName        = Hauts de France
localityName               = Calais
organizationName           = Dysnomia
commonName                 = Vault
[ req_ext ]
subjectAltName = DNS:*.vault-internal, DNS:*.vault.svc, DNS:*.vault.svc.cluster.local, IP:127.0.0.1