secretGenerator:
- name: galactae-server
  literals:
  - discord-token=TOKEN
  - adminUsername=USERNAME
  - adminPassword=PASSWORD
- name: galactae-website
  literals:
  - mail-server=smtp.example.tld
  - mail-username=name@example.tld
  - mail-password=PASSWORD