secretGenerator:
- name: battlenet
  literals:
  - clientid=CLIENTID
  - clientsecret=CLIENTSECRET
- name: steam
  literals:
  - dysnomia-publisher-key=KEY
  - elanis-webapi-key=KEY
- name: achieve-games
  literals:
  - githubtoken=KEY
  - discordToken=BOTTOKEN
  - redirecturi=https://achieve.games/