apiVersion: v1
kind: Secret
metadata:
  name: argocd-notifications-secret
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: argocd
type: Opaque
stringData:
  DISCORD_WEBHOOK_URL: https://discord.com/api/webhooks/ID/KEY?wait=true